.DS_Store
.RData
.RHistory
.classpath
.externalToolBuilders
.project
.svn
.settings
.vscode
target
/doc
/site.log
/YADA.pdf
/bin
/build
Release*
YADA.db
**/node_modules
*.key
*.pfx
*.crt
*.ca-bundle
**/config/*.env.js
*.xml.next
*.xml.releaseBackup
*.xml.tag
